#doctype {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
}

#doctype img {
  height: 100vh;
}

#doctype .doctype-form {
  position: absolute;
  top: 55%;
  right: 10vw;
  z-index: 1;
}
