#footer {
  width: 100%;
  background: #384240;
  padding: 50px 100px;
  box-sizing: border-box;

  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 50px;
}


#footer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer form * {
  background: none;
  font-family: arial;
  border: 2px solid #6CBD45;
  color: #E1E1E1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}

#footer form ::placeholder {
  color: #A8A8A8;
}

#footer form *:focus {
  border-color: #27A8E1;
  /* border-color: #8846BD; */
}

#footer input[type="submit"] {
  margin-bottom: 0px !important;
  width: 50%;
  cursor: pointer;
}

#footer input[type="submit"]:active {
  border-color: #27A8E1;
  /* border-color: #8846BD; */
  /* color: #8846BD; */
}

#footer textarea {
  resize: none;
  outline: none;
  height: 100px;
}


.footer-data {
  border: 1px solid;
  width: 100%;
}





@media screen and (min-width: 992px) {
  #footer form * {
    font-size: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {

}

@media screen and (min-width: 767px) {
  #footer {
    grid-template-columns: 1fr 1fr;
  }

  #footer form * {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    grid-template-columns: 1fr;
    padding: 50px 50px;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {

}

@media screen and (max-width: 550px) {

}
