.partners-block {
  background: #fff;
  padding: 50px 20px;
}

.partners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner-item {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.partner-item:hover {
  background: #27A8E1;
}

.partner-img {
  overflow: hidden;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.partner-img img {
  width: 100%;
}

.partner-description {
  width: 180px;
}
